@model int

<div class="container pt-2">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center"> Order Placed Successfully!</h1>
		Your Order Number is: @Model  <br /> <br />
		<img src="~/images/leaf.jpg" width="65%" />
	</div>
	<div class="col-12 text-center" style="color:maroon">
		<br />
		Payment has been applied successfully! <br />

		<a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="Model">Back to order details</a>

	</div>
</div>